#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home{
  display: flex;
}
.logo {
  padding-top: 100px;
  font-size: 35px;
  background: linear-gradient(to right, var(--verde), var(--azul-claro));
  -webkit-background-clip: text;
  color: transparent;
  float: left;
}

.text{
  color:var(--azul-escuro);
}

.navbar {
  margin: 30px;
  align-self: flex-end; /* Mantém a navbar no canto superior direito */

  font-size: 20px;
  color: var(--azul-claro);
  position: fixed;
  top: 0; /* Fixa a barra no topo da tela */
  width: 100%; /* Faz com que a barra ocupe toda a largura da tela */
  z-index: 1000;
}
.navbar a {
  margin-left: 20px; /* Adiciona espaço entre as palavras */
  text-decoration: none; /* Remove a decoração de link padrão */
}

.imagem{
    float: right;
}

